{
    "env": {"jest": true, "es6": true},

    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "prettier"
    ],

    "plugins": ["react", "prettier"],

    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },

    "rules": {
        "react/jsx-uses-react": "error",
        "prettier/prettier": ["error", { "singleQuote": true}]
    }
}